.ButtonClass{
    margin-left: 28%; 
    margin-top: 10%; 
    width: 200px; 
    font-size: 20px; 
    font-weight: bold; 
    background-color: rgb(52, 52, 52); 
    color: azure; border:10cqh;
}

.LoginBox{
    background-color:bisque; 
    height: 500px; 
    width: 500px; 
    margin-left: 35%; 
    padding-top: 10px;
}

.loginYes{
    color: green;
}
.loginNo{
    color: red;
}