.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}
.aplus{
    color: purple;
}
.a{
    color: palevioletred;
}
.b{
    color: yellow;
}
.c{
    color: skyblue;
}
.d{
    color: brown;
}
.e{
    color: green;
}
.f{
    color: red;
}